
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
    <link rel="stylesheet" type="text/css" href="/css/pygments.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>

</head>

<ul class="menu">
    <b>Mehmet Başal</b>
    <br>Bilgisayar Mühendisliği<br>
        3.Sınıf Öğrencisi<br><br>
    <li><a href="/index.html">Anasayfa </a></li>
    <li><a href="/about.html">Hakkımda</a></li>
    <li><a href="/projeler.html">Projeler</a></li>
</ul>

<ul class="social">
<a target="_blank" href="http://github.com/{{ site.author.github}}"><img class="" alt="" src="/images/github.png" /></a>
<a href="mailto:{{ site.author.email}}"><img class="" alt="" width= 32 height=32  src="/images/mail.jpg" /></a>
<a target="_blank" href="http://facebook.com/{{ site.author.facebook}}"><img class="" alt="" src="/images/facebook.png"/></a>
<a target="_blank" href="http://plus.google.com/{{ site.author.googleplus}}"><img class="" alt="" src="/images/google+.png" /></a>
</ul>
<body>
{{content}}
</body>
</html>
